<section class="section section_{{theme.bg}} basicsection">
    <div class="wrapper">
      <div class="overlay"></div>

        {% if basicsection.staticicon %}
            <div class="basicsection--icon {{basicsection.staticicon}}">
                <img src="images/icons/{{basicsection.staticicon}}.svg">
            </div>
        {% endif %}

        {% if basicsection.icon %}
            <div id="{{basicsection.icon}}" class="animicon basicsection--icon {{basicsection.icon}}"></div>
        {% endif %}

        {% if basicsection.title %} <h3 class="basicsection--title">{{basicsection.title}}</h3> {% endif %}


        {% if basicsection.firstpara %} <p class="basicsection--firstpara">{{basicsection.firstpara}}</p> {% endif %}

        {% if basicsection.secondpara %} <p class="basicsection--secondpara">{{basicsection.secondpara}}</p> {% endif %}

        {% if basicsection.thirdpara %} <p class="basicsection--thirdpara">{{basicsection.thirdpara}}</p> {% endif %}

        {% if basicsection.fourthpara %} <p class="basicsection--fourthpara">{{basicsection.fourthpara}}</p> {% endif %}


        {% if basicsection.italiccenter_parabottom %} <p class="basicsection--italiccenter_parabottom u-tac u-italic">{{basicsection.italiccenter_parabottom}}</p> {% endif %}


        {% if basicsection.button %} 
            <a class="btn btn_border_turquoise btn_color_grey js-scrolltocontact" href="#">
                {{basicsection.button}}
            </a>
        {% endif %}

    </div>
</section>