<section class="section section_{{theme.bg}} breakersection" data-paroller-factor="0.2" style="background-image: url({{breakersection.bg}});">
    <div class="wrapper">

        <!-- Quote type of section -->
        {% if breakersection.type == 'quote' %}
        <div class="breakersection--quotecontainer">
            <p class="breakersection--quote">{{breakersection.quote}}</p>
            <span class="breakersection--author">{{breakersection.author}}</span>
        </div>
        

        <!-- Portfolio type of section -->
        {% elseif breakersection.type == 'portfolio' %}
        <div class="breakersection--portfoliocontainer">
            {% if breakersection.title %}
            	<h3 class="breakersection--title">{{breakersection.title}}</h3>
        	{% endif %}
            {% if breakersection.subtitle %}
    	        	<p class="breakersection--text">
    	        		{{breakersection.subtitle}}
                        <a class="popup" href="./nuccobehance/php/work/work.php?itemId={{breakersection.popupid}}">
    	        			{{breakersection.button}}
    	        		</a>
            		</p>
        	{% endif %}
        </div>

        <!-- Awards type of section -->
        {% elseif breakersection.type == 'awards' %}
        <div class="breakersection--awardscontainer">
            <div class="breakersection--awardsimages">
                <img draggable="false" src="images/award01.png" alt="">
                <img draggable="false" src="images/award02.png" alt="">
                <img draggable="false" src="images/award03.png" alt="">
                <img draggable="false" src="images/award04.png" alt="">
                <img draggable="false" src="images/award05.png" alt="">
                <img draggable="false" src="images/award06.png" alt="">
                <img draggable="false" src="images/award07.png" alt="">
            </div>

            {% if breakersection.subtitle %}
                <p class="breakersection--text">
                    {{breakersection.subtitle}}
                    <a class="popup" href="./nuccobehance/php/work/work.php?itemId={{awards.popupid}}">
                        {{breakersection.button}}
                    </a>
                </p>
            {% endif %}
        </div>

        {% endif %}

    </div>
</section>