<section class="section section_{{theme.bg}} threecolsection">
    <div class="wrapper">
        <p class="threecolsection--subtitle">
            A well-crafted narrative has the power to pull together your customers, <br/>employees and stakeholders, at the times when you most need them to stop and listen.
        </p>
        <ul class="row">
            <li class="col">
                <a href="./engagement.php" class="ainherit">
                    <h4>Constant<br/>Engagement</h4>
                    <div id="home_engagement" class="animicon"></div>
                    <p>
                        Draw people into the continuous evolution of your business with stories they’ll want to follow and pass on, every time.
                    </p>
                </a>
            </li>
            <li class="col">
                <a href="./change.php" class="ainherit">
                    <h4>Driving<br/>Change</h4>
                    <div id="home_change" class="animicon"></div>
                    <p>
                        Prioritise internal comms to get buy-in and inspire smooth behavioural shifts in your teams during periods of crisis and change.
                    </p>
                </a>
            </li>
            <li class="col">
                <a href="./culture.php" class="ainherit">
                    <h4>Shaping<br/>Culture</h4>
                    <div id="home_culture" class="animicon"></div>
                    <p>
                        Bring those dull but essential operational messages to life to engage your employees and customers and create a business that runs on your terms.
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>