<section class="section section_{{theme.bg}} threeiconbasicsection">
    <div class="wrapper">
        <h3>{{threeiconbasicsection.title}}</h3>
        <div class="row">
            <ul class="threeiconbasicsection--icons">
                <li>
                    <div id="{{threeiconbasicsection.icon_one}}" class="animicon"></div>
                    <h4>{{threeiconbasicsection.subtitle_one|safe}}</h4>
                </li>
                <li>
                    <div id="{{threeiconbasicsection.icon_two}}" class="animicon"></div>
                    <h4>{{threeiconbasicsection.subtitle_two|safe}}</h4>
                </li>
                <li>
                    <div id="{{threeiconbasicsection.icon_three}}" class="animicon"></div>
                    <h4>{{threeiconbasicsection.subtitle_three|safe}}</h4>
                </li>
            </ul>
        </div>
        <div class="row">
            <p class="threeiconbasicsection--paragraph">
                {{threeiconbasicsection.firstpara}}
            </p>
            <span class="threeiconbasicsection--bottomline">
                 And it's how - when you need to be sure they'll listen we'll make sure you're heard.
            </span>
            <a href="#" class="btn js-scrolltocontact">Let's craft your story</a>
        </div>
    </div>
</section>