<section class="section worksection">
    <div class="wrapper">
        <h3>Our work</h3>
        <ul class="worksection--inner">
        <?php foreach ($projects as $project): ?>
            <li class="item worksection--item worksection--item_half" style="background-image: url('<?php echo $project->covers->{'404'} ?>')">
                <a href="javascript:;" class="worksection--item-inner">
                    <h5><?php echo preg_replace('/([^|]*) |/', '$1', $project->name) ?></h5>
                </a>
            </li>
        <?php endforeach ?>
        </ul>
    </div>

    <div class="wrapper">
        <h3>Our work</h3>
        <ul class="worksection--inner">
            <li class="worksection--item worksection--item_half" style="background-image: url('images/works/edf.jpg')">
                <a href="javascript:;" class="worksection--item-inner">
                    <h5>EDF</h5>
                    <p>Project title</p>
                </a>
            </li>
            <li class="worksection--item worksection--item_half" style="background-image: url('images/works/hsbc.jpg')">
                <a href="javascript:;" class="worksection--item-inner">
                    <h5>HSBC China</h5>
                    <p>Project title</p>
                </a>
            </li>
            <li class="worksection--item worksection--item_third" style="background-image: url('images/works/wap.jpg')">
                <a href="javascript:;" class="worksection--item-inner">
                    <h5>World animal protection</h5>
                    <p>Project title</p>
                </a>
            </li>
            <li class="worksection--item worksection--item_third" style="background-image: url('images/works/innovateuk.jpg')">
                <a href="javascript:;" class="worksection--item-inner">
                    <h5>Inovative UK</h5>
                    <p>Project title</p>
                </a>
            </li>
            <li class="worksection--item worksection--item_third" style="background-image: url('images/works/esa.jpg')">
                <a href="javascript:;" class="worksection--item-inner">
                    <h5>Esa</h5>
                    <p>Project title</p>
                </a>
            </li>
            <li class="worksection--item worksection--item_third" style="background-image: url('images/works/atfirstsight.jpg')">
                <a href="javascript:;" class="worksection--item-inner">
                    <h5>At first sight</h5>
                    <p>Project title</p>
                </a>
            </li>
            <li class="worksection--item worksection--item_third" style="background-image: url('images/works/lycamobile.jpg')">
                <a href="javascript:;" class="worksection--item-inner">
                    <h5>Lyca mobile</h5>
                    <p>Project title</p>
                </a>
            </li>
            <li class="worksection--item worksection--item_third" style="background-image: url('images/works/koko.jpg')">
                <a href="javascript:;" class="worksection--item-inner">
                    <h5>Koko Kanu</h5>
                    <p>Project title</p>
                </a>
            </li>
            <li class="worksection--item worksection--item_third" style="background-image: url('images/works/xq.jpg')">
                <a href="javascript:;" class="worksection--item-inner">
                    <h5>XQ Cyber</h5>
                    <p>Project title</p>
                </a>
            </li>
            <li class="worksection--item worksection--item_third worksection--item_blank" style="background-image: url('images/works/blank.jpg')">
                <a href="javascript:;" class="worksection--item-inner">
                    <h5></h5>
                    <p></p>
                </a>
            </li>
            <li class="worksection--item worksection--item_third worksection--item_blank" style="background-image: url('images/works/blank.jpg')">
                <a href="javascript:;" class="worksection--item-inner">
                    <h5></h5>
                    <p></p>
                </a>
            </li>
        </ul>
    </div>
</section>