<section class="section worksection">
    <div class="wrapper">
        <h3>Our work</h3>
        <ul class="worksection--inner">

        <?php
            $i = 0;
            foreach ($projects as $project):
            $i++;
        ?>
            <li class="item worksection--item <?=$i <= 2 ? 'worksection--item_half' : 'worksection--item_third'?>" style="background-image: url('<?php echo $project->covers->{'404'} ?>')">
                <a href="./nuccobehance/php/work/work.php?itemId=<?php echo $project->id ?>" class="worksection--item-inner">
                    <h5><?php echo $project->name ?></h5>
                </a>
            </li>
        <?php endforeach ?>

        </ul>
    </div>

</section>
