$black          : #000000;
$dark           : #161616;
$grey           : #282828;
$yellow         : #ff0;
$white          : #ffffff;
$turquoise      : #4ab8b7;
$sail           : #b3d4fc;
$eclipse        : #34181C;


$topsectionbg   : $eclipse;