$z10                    : 10;
$z20                    : 20;
$z30                    : 30;
$z40                    : 40;
$z50                    : 50;
$z60                    : 60;
$z70                    : 70;
$z80                    : 80;
$z90                    : 90;
$z100                   : 100;
$z200                   : 200;
$z300                   : 300;
$z400                   : 400;
$z500                   : 500;
$z600                   : 600;
$z700                   : 700;
$z800                   : 800;
$z900                   : 900;
$z1000                  : 1000;


$zheader                : $z1000;

$ztopsection            : $z900;
$ztopsectionbg          : $z10;
$ztopsectioncontent     : $z20;

$worksectionItemAfter   : $z10;
$worksectionItem        : $z20;

$breakersectionItems	: $z20;
$awardsImg              : $z20;