.basicsection {
    font-family: 'TheSansOsF';
    @include fluid(font-size, 320px, 1366px, 16px, 20px);
    @include fluid(padding-top padding-bottom, 320px, 1366px, 60px, 100px);
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: 0.2px;
    text-align: center;
    p {
        max-width: 720px;
        margin: 0 auto;
        width: 100%;
        text-align: left;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    &.section_light {
        .btn {
            border-color: $turquoise;
            font-weight:700;
            font-family:futura;
        }
    }
    &--icon {
        max-width: 167px;
        display: block;
        margin: 0 auto 50px;
        img {
            max-width: 100%;
        }
    }
    h3 {
        font-size: 26px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: 'Futura';
    }
    .nb_brain_logo {
        max-width: 90px;
    }
}