.breakersection {
    position: relative; // For the overlay (:after element) to work
    background-position: center center;
    background-size: cover;
    background-attachment: local;
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        width: 100%; height: 100%;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.3+0,0.2+51,0.3+100 */
        background: -moz-linear-gradient(top, rgba($black, 0.3) 0%, rgba($black, 0.2) 51%, rgba($black, 0.3) 100%);
        background: -webkit-linear-gradient(top, rgba($black, 0.3) 0%, rgba($black, 0.2) 51%, rgba($black, 0.3) 100%);
        background: linear-gradient(to bottom, rgba($black, 0.3) 0%, rgba($black, 0.2) 51%, rgba($black, 0.3) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#4d000000', GradientType=0);
        z-index: $z10;
    }
    .wrapper {
        z-index: $z20;
        position: relative;
        text-transform: uppercase;
        text-align: center;
    }

    // Portfolio Breakersection Type Styling
    &--portfoliocontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        @include fluid(min-height, 320px, 1366px, 80px, 180px);
    }
    &--title {
        @include fluid(font-size, 320px, 1366px, 20px, 36px);
        font-weight: 700;
        z-index: $breakersectionItems;
    }
    &--text, a {
        @include fluid(font-size, 320px, 1366px, 12px, 15px);
        line-height: 1.95;
        letter-spacing: 2px;
        color: inherit;
        z-index: $breakersectionItems;
    }
    // Position & Style the popup link (kinda hacky)
    .popup {
        margin-left: 50px;
        display: inline-block;
    }
    @media screen and (max-width: 600px) {
        .popup {
            margin-left: 0px;
        }
    }


    // Quote Breakersection Type Styling
    &--quotecontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        @include fluid(min-height, 320px, 1366px, 80px, 180px);
    }
    &--quote,
    &--author {
        font-family: 'TheSansOsF';
        text-align: left;
        text-transform: none;
        font-weight: 600;
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        z-index: $breakersectionItems;
        color: inherit;
    }
    &--quote {
        @include fluid(font-size, 320px, 1366px, 18px, 23px);
        font-style: italic;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    &--author {
        @include fluid(font-size, 320px, 1366px, 14px, 18px);
        line-height: 1.67;
    }

    // Awards Breakersection Type Styling
    &--awardscontainer {
        @include fluid(min-height, 320px, 1366px, 80px, 180px);
    }        
    &--awardsimages {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 20px;
        img {
            margin: 10px;
            // flex: 0 0 100;
            // z-index: $awardsImg;
        }
    }
    
    // Global Image Sizing
    @media screen and (max-width: 1200px) {
        background-size: auto 130%;
    }
    @media screen and (max-width: 600px) {
        background-size: auto 150%;
    }
}