.threeiconbasicsection {
    .wrapper {
        max-width: 700px;
        text-align: center;
    }
    h3 {
        font-size: 26px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }
    h4 {
        @include fluid(font-size, 320px, 1366px, 18px, 22px);
        font-weight: 700;
        text-transform: uppercase;
    }
    &--icons {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 70px auto;
        li {
            padding: 0 2%;
            svg {
                @include fluid(max-width, 320px, 1000px, 80px, 150px);
                width: 100%;
                margin: auto;
                display: block;
            }
        }
    }
    &--paragraph {
        font-family: 'TheSansOsF';
        font-size: 20px;
        font-weight: 300;
        line-height: 1.3;
        letter-spacing: 0.2px;
        text-align: left;
    }
    &--bottomline {
        font-size: 22px;
        font-weight: 500;
        font-style: italic;
        line-height: 1.18;
        text-align: center;
        margin-top: 20px;
        display: block;
    }
    .btn {
        margin-top: 30px;
        border-color: $turquoise;
        font-weight: 700;
    }
    @media screen and (max-width: 500px) {
        &--icons {
            flex-direction: column;
            margin: 20px auto;
            li {
                margin-bottom: 10%;
                svg {
                    max-width: 150px;
                }
            }
        }
        h4 {
            margin-top: 0;
        }
    }
}


