{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}NUCCO BRAiN{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="stylesheets/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "shared/app-icons.html" %}
    {% block head %}{% endblock %}

    <!-- Cookie bar below. Code comes from: https://github.com/insites/cookieconsent/ -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#4ab8b7",
          "text": "#ffffff"
        },
        "button": {
          "background": "#282828"
        }
      },
      "content": {
        "message": "We use cookies to enhance your experience. By continuing to visit this site you agree to our use of cookies.",
        "dismiss": "GOT IT!",
        "link": "More info"
      }
    })});
    </script>

  </head>
  <body>
    {% include "shared/header.html" %}
    {% block content %}{% endblock %}
    {% include "shared/footer.html" %}
    {% block javascript %}
      <script src="jquery.min.js"></script>
      <script src="jquery.magnific-popup.min.js"></script>
      <script src="javascripts/app.js"></script>
    {% endblock %}
  </body>
</html>
